<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Homepage</Name>
    <Alias>umbHomepage</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The homepage of a starter kit website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates>
      <Template>umbHomepage</Template>
    </AllowedTemplates>
    <DefaultTemplate>umbHomepage</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>umbTextpage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Site</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Site Description</Name>
      <Alias>siteDescription</Alias>
      <Type>67db8357-ef57-493e-91ac-936d305e0f2a</Type>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Tab>Site</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Body text</Name>
      <Alias>bodyText</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Test Property</Name>
      <Alias>testProperty</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Site</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>6</Id>
      <Caption>Site</Caption>
    </Tab>
    <Tab>
      <Id>7</Id>
      <Caption>Content</Caption>
    </Tab>
  </Tabs>
</DocumentType>