<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Textpage</Name>
    <Alias>umbTextpage</Alias>
    <Icon>.sprTreeDoc</Icon>
    <Thumbnail>doc.png</Thumbnail>
    <Description>This is the standard content page for a starter kit website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates>
      <Template>TestTemplate</Template>
    </AllowedTemplates>
    <DefaultTemplate>TestTemplate</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>umbTextpage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Hide in navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Type>38b352c1-e9f8-4fd8-9324-9a2eab06d97a</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>8</Id>
      <Caption>Content</Caption>
    </Tab>
  </Tabs>
</DocumentType>